[Desktop Entry]
Version=1.0
Type=Application
Name=GoLand
Icon=/home/zach/Goland/bin/goland.svg
Exec="/home/zach/Goland/bin/goland.sh" %f
Comment=Cross-platform IDE built specially for Go developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-goland
X-XFCE-Source=file:///home/zach/.local/share/applications/jetbrains-goland.desktop
