[Desktop Entry]
Version=1.0
Type=Application
Name=Adminer
Comment=
Exec=/usr/bin/google-chrome-stable --profile-directory=Default --app='http://localhost:9080/?server=mysql:3306&username=root&db=beta_eventstore&select=Events'
Icon=/home/zach/adminer.png
Path=
Terminal=true
StartupNotify=false
