[Desktop Entry]
Version=1.0
Type=Application
Name=Postman
Comment=
Exec=/home/zach/Postman/app/Postman
Icon=/home/zach/Postman/app/icons/icon_128x128.png
Path=
Terminal=false
StartupNotify=false
