[Desktop Entry]
Version=1.0
Type=Application
Name=dry
Comment=
Exec=/usr/local/bin/alacritty -t DRY -e /usr/local/bin/dry
Icon=brackets
Path=
Terminal=false
StartupNotify=false
