[user]
	name = Zach Wahrer
{%@@ if profile == "neto-wolf" @@%}
	email = zach.wahrer@netography.com
{%@@ else @@%}
	email = me@zachw.io
{%@@ endif @@%}
[core]
	editor = nvim
	pager = delta --dark --line-numbers --side-by-side
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  path = nvim
[interactive]
	diffFilter = delta --dark --color-only
[delta]
  navigate = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[gc]
	reflogExpire = 200
	reflogExpireUnreachable = 90
{%@@ if profile == "neto-wolf" @@%}
[url "git@gitlab.com:netography/"]
	insteadOf = https://gitlab.com/netography/
{%@@ endif @@%}
