Use_Label=true
Show_Values=false
Show_Bars=true
Colorize_Values=false
Color_In=rgb(0,164,255)
Color_Out=rgb(209,0,255)
Text=net
Network_Device=wlp0s20f3
Max_In=512000
Max_Out=256000
Auto_Max=false
Update_Interval=250
Values_As_Bits=false

