[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/zach/Desktop/Load Testing]
row=6
col=0

[/home/zach/Desktop/Brainhole]
row=8
col=0

[/home/zach/Desktop/nvim-lspconfig]
row=5
col=0

[/home/zach/Desktop/revenue_template.csv]
row=7
col=0

