[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/zach/Desktop/test cover]
row=6
col=0

[/home/zach/Desktop/journal_entries_template.csv]
row=4
col=0

[/home/zach/Desktop/Brainhole]
row=0
col=0

[/home/zach/Desktop/revenue_template.csv]
row=1
col=0

[/home/zach/Desktop/accounts_template.csv]
row=3
col=0

[/home/zach/Desktop/nvim-lspconfig]
row=2
col=0

[/home/zach/Desktop/program_services_template.csv]
row=5
col=0

[/home/zach/Desktop/Load Testing]
row=0
col=1

