[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/zach/Desktop/journal_entries_template.csv]
row=10
col=0

[/home/zach/Desktop/postman-9.12.2-linux-x64.tar.gz]
row=9
col=0

[/home/zach/Desktop/screenshot-smile.amazon.com-2022.02.11-13_45_18.png]
row=6
col=0

[/home/zach/Desktop/Load Testing]
row=5
col=0

[/home/zach/Desktop/Brainhole]
row=8
col=0

[/home/zach/Desktop/journal_entries_template_no-date.csv]
row=7
col=0

[google-drive://zach.wahrer@foundant.com/]
row=1
col=0

[google-drive://zachtheclimber@gmail.com/]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/zach]
row=4
col=0

