[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/zach/Desktop/Load Testing]
row=0
col=1

[/home/zach/Desktop/Brainhole]
row=0
col=0

[/home/zach/Desktop/nvim-lspconfig]
row=3
col=0

[/home/zach/Desktop/revenue_template.csv]
row=1
col=0

