[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/zach/Desktop/screenshot-smile.amazon.com-2022.02.11-13_45_18.png]
row=2
col=0

[/home/zach/Desktop/Load Testing]
row=0
col=1

[/home/zach/Desktop/Brainhole]
row=0
col=0

[/home/zach/Desktop/journal_entries_template_no-date.csv]
row=1
col=0

[google-drive://zach.wahrer@foundant.com/]
row=2
col=17

[google-drive://zachtheclimber@gmail.com/]
row=1
col=17

[Trash]
row=4
col=17

[/]
row=3
col=17

[/home/zach]
row=0
col=17

